.card {
    display: flex;
    justify-content: space-between;

    padding: 13px 0px;
    margin: 0 auto;
}

.card > div {
    display: flex;
    align-items: center;
}

.card:not(:first-child) {
    border-top: 1px solid #E7E7E7;
}

.card__img {
    width: 38px;
    height: 38px;

    margin-right: 17px;

    border-radius: 50%;
}

.card__title {
    color: #000;
    font-weight: 500;
}

.card__desc {
    color: rgba(66, 66, 66, 0.45);
}

.card__delete__icon {
    display: none;
}

.card__text__action p {
    padding: 1px 8px;
    color: #1890FF;
}

.card__text__action p:hover {
    opacity: 0.7;
}

.card__text__action p:not(:last-child) {
    border-right: 1px solid #E7E7E7;
}

@media (max-width: 599px) {
    .card__text__action p:first-child {
        display: none;
    }

    .card__text__action p:last-child {
        display: none;
    }

    .card__delete__icon {
        display: block;
        padding: 6px;
        border: 1px solid #E7E7E7;
        border-radius: 2px;
    }
}