.card {
    max-width: 856px;

    display: flex;
    justify-content: space-between;

    padding: 13px 0px;
    margin: 0 auto;
}

.card > div {
    display: flex;
    align-items: center;
}

.card:not(:first-child) {
    border-top: 1px solid #E7E7E7;
}

.card__img {
    width: 38px;
    height: 38px;

    margin-right: 17px;

    border-radius: 50%;
}

.card__title {
    font-weight: 500;
}

.card__desc {
    color: rgba(66, 66, 66, 0.45);
}

.card__delete__icon {
    display: none;
}

.card__delete__text {
    color: #1890FF;
}

@media (max-width: 599px) {
    .card__delete__icon {
        display: block;
    }

    .card__delete__text {
        display: none;
    }
}