.card {
    max-width: 856px;

    display: flex;

    padding: 13px 0px;
    margin: 0 auto;
}

.card:not(:first-child) {
    border-top: 1px solid #E7E7E7;
}

.card__img {
    width: 38px;
    height: 38px;

    margin-right: 17px;

    border-radius: 50%;
}

.card__title {
    font-weight: 500;
}

.card__desc {
    color: rgba(66, 66, 66, 0.45);
}